<div class="user-form-container">
    <h3>Add User</h3>
    <form (ngSubmit)="addUser()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" name="username" [(ngModel)]="newUser.username" required />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="newUser.password" required />
      </div>
      <button type="submit" class="btn">Add User</button>
    </form>
</div>
  
<h2>Users</h2>
<ul class="users-list">
    <li *ngFor="let user of users">
        <span>{{ user.username }} ({{ user.roles.join(', ') }})</span>
        <button (click)="deleteUser(user)" class="btn delete-btn">Delete</button>
    </li>
</ul>
  