.messages-container {
  background-color: #ffe174;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

h2 {
  color: navy;
  font-size: 1.5em;
  margin-bottom: 10px;
}

li {
  color: navy;
}

.message-item {
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.message-item:last-child {
  border-bottom: none;
}

.clear-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.show-hide-button {
  background-color: #1a2c8d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


.clear-button:hover {
  background-color: #ff1a1a;
}
