<div class="container">
<header class="d-flex justify-content-between align-items-center py-3 mb-4 border-bottom">
  <h1>{{ title }}</h1>
  <nav *ngIf="authenticated()" class="d-flex align-items-center">      
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    <a class="nav-link" routerLink="/boats">All boats</a>
    <button class="btn logoutButton" (click)="logout()">Logout</button>
  </nav>
</header>

<main class="my-5">
  <router-outlet></router-outlet>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <app-messages></app-messages>
  </div>
</footer>
</div>
