<div *ngIf="boat" class="boat-form-container">
  <h2>Boat details</h2>  
  <form #boatForm="ngForm" (ngSubmit)="save()">
    <div class="boat-detail">
      <label for="boat-id">ID:</label>
      <span id="boat-id">{{ boat.id }}</span>
    </div>
    <div class="boat-detail">
      <label for="boat-name">Name:</label>
      <input
        id="boat-name"
        name="name"
        [(ngModel)]="boat.name"
        #name="ngModel"
        required
        maxlength="30"
        placeholder="Boat name"
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <div *ngIf="name.errors?.['required']">Boat name is required</div>
        <div *ngIf="name.errors?.['maxlength']">Boat name max length = 30 char</div>
      </div>
    </div>
    <div class="boat-detail">
      <label for="boat-description">Description:</label>
      <textarea
        id="boat-description"
        name="description"
        [(ngModel)]="boat.description"
        #description="ngModel"
        required
        maxlength="300"
        placeholder="Boat description"
      ></textarea>
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">
        <div *ngIf="description.errors?.['required']">Boat description is required</div>
        <div *ngIf="description.errors?.['maxlength']">Boat description max length = 300 char</div>
      </div>
    </div>
    <div class="boat-detail">
      <label for="boat-image-url">Image URL:</label>
      <input
        id="boat-image-url"
        name="imageUrl"
        [(ngModel)]="boat.imageUrl"
        #imageUrl="ngModel"
        required
        maxlength="300"
        pattern="https?://.*\.(?:png|jpg)"
        placeholder="Image URL"
      />
      <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)" class="alert">
        <div *ngIf="imageUrl.errors?.['required']">Image Url is required</div>
        <div *ngIf="imageUrl.errors?.['maxlength']">Image URL max length = 300 char</div>
        <div *ngIf="imageUrl.errors?.['pattern']">URL must be a valid image (.png, .jpg).</div>
      </div>
    </div>
    <div class="boat-image">
      <img [src]="boat.imageUrl" alt="Boat Image" *ngIf="boat.imageUrl" />
    </div>
    <div class="button-group">
      <button type="button" (click)="goBack()">Back</button>
      <button type="submit" [disabled]="boatForm.invalid">Save</button>
    </div>
  </form>  
</div>